<div class="row">
    <div class="title-row">
        SwedishFromScratch URL customizer
    </div>
</div>

<div class="row margin-container">
    Create custom URL for SwedishFromScratch.
    <br/><br/>
    Select lesson to train:
    <br/>
    <mat-form-field>
    <mat-select [(value)]="selectedLesson">
        <mat-option value="1">Lesson 1: Vad heter du?</mat-option>
        <mat-option value="2">Lesson 2: Kronprinsessan Victoria</mat-option>
        <mat-option value="3">Lesson 3: När går bussen?</mat-option>
        <mat-option value="4">Lesson 4: </mat-option>
        <mat-option value="5">Lesson 5: </mat-option>
        <mat-option value="6">Lesson 6: </mat-option>
    </mat-select>
    </mat-form-field>
    <br/><br/>
    Select POS to train:
    <br/>
    <mat-form-field>
    <mat-select [(value)]="selectedPos">
        <mat-option value="NOUN">Nouns</mat-option>
        <mat-option value="VERB">Verbs</mat-option>
        <mat-option value="PRON">Pronouns</mat-option>
        <mat-option value="NUM">Numbers/Numerals</mat-option>
    </mat-select>
    </mat-form-field>
    <br/><br/>
    Select language for interface:
    <br/>
    <mat-form-field>
    <mat-select [(value)]="selectedLanguage">
        <mat-option value="english">English</mat-option>
        <mat-option value="swedish">Swedish</mat-option>
        <mat-option value="russian">Russian</mat-option>
    </mat-select>
    </mat-form-field>
    <br/><br/>
    Select other options:
    <br/>
    
    <mat-checkbox #fxm>Start exercise directly</mat-checkbox>
    
    <br/><br/>
    <button mat-button mat-raised-button color="primary" (click)="generateUrl(fxm.checked)">Create URL</button>
    <br/><br/>

    <div *ngIf="final_url">
        Here is your URL: <br/>
        <span class="url-span">{{final_url}}</span>
    </div>
</div>